<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <deploymentSettings configuration="Staging">
    <host>119.161.41.19</host>
    <port>8172</port>
    <username>web.deploy</username>
    <password>*jT^6v^^5D</password>
    <iisSite>test.system.detectorinspector.com.au</iisSite>
    <iisApplication>/</iisApplication>
    <postDeploy>
      <encryptWebConfig>true</encryptWebConfig>
      <customCommand></customCommand>
    </postDeploy>
  </deploymentSettings>

  <deploymentSettings configuration="KiandraStaging">
    <host>staging1.kdev.com.au</host>
    <port>8172</port>
    <username>web.deploy</username>
    <password>xu9rAtAka*aZ</password>
    <iisSite>detectorinspector.kdev.com.au</iisSite>
    <iisApplication>/</iisApplication>
    <postDeploy>
      <encryptWebConfig>true</encryptWebConfig>
      <customCommand></customCommand>
    </postDeploy>
  </deploymentSettings>
  
  <deploymentSettings configuration="Release">
    <host>119.161.41.19</host>
    <port>8172</port>
    <username>web.deploy</username>
    <password>*jT^6v^^5D</password>
    <iisSite>system.detectorinspector.com.au</iisSite>
    <iisApplication>/</iisApplication>
    <postDeploy>
      <encryptWebConfig>true</encryptWebConfig>
      <customCommand></customCommand>
    </postDeploy>
  </deploymentSettings>

</configuration>